<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <svg height="30" width="30">
            <circle cx="15" cy="15" r="10" fill="#eb5c55" />
          </svg>
            <svg height="30" width="30">
            <circle cx="15" cy="15" r="10" fill="#f6c048" />
          </svg>
            <svg height="30" width="30">
            <circle cx="15" cy="15" r="10" fill="#64cb44" />
          </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto right">
                <li class="nav-item">
                    <a href="mailto:{{ email }}" class="btn btn-outline btn-white">{{ 'navbar.btn.contact' | translate }}</a>
                </li>

                <li class="nav-item ml-2">
                    <button type="button" (click)="download_resume()" class="btn btn-outline btn-pdf"><i class="fas fa-file-pdf" style="color: white"></i> {{ 'navbar.btn.resume' | translate }}</button>
                </li>

                <li class="nav-item ml-2">
                    <div class="dropdown">
                        <button class="btn btn-navbar dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         {{ 'lang.name' | translate }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="updateLanguage('es')">
                                <span class="flag-icon flag-icon-mx"></span>{{ 'lang.es' | translate }}
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="updateLanguage('en')">
                                <span class="flag-icon flag-icon-us"></span>{{ 'lang.en' | translate }}
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>