.header-main {
    width: 100%;
    height: calc(100vh - 55px);
    background-color: rgb(15, 15, 16);
    display: flex;
    justify-content: center;
}

.header-main pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
}

footer {
    margin-top: -4.5rem;
}

.footer {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.footer .thinking {
    font-size: larger;
    margin-top: 2rem;
}
