<app-close-button></app-close-button>

<section class="title-section">
    <div class="row" style="height: 100%;">
        <div class="col-md-6 col-sm-12">
            <div class="img-block">
                <img src="/assets/images/startups/avi.png" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 align-items-center">
            <div class="card-block">
                <p class="align-middle text-center">AVI Energy Labs</p>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <h2 class="text-center">{{ 'startups.avi.pricipalTitle' | translate }}</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p class="text-center">
                    {{ 'startups.avi.description' | translate }}
                </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="title">
                    <h2 class="text-center">{{ 'startups.avi.techsTitle' | translate }}</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="title text-center">
                    <h3>{{ 'startups.avi.techs.backend.title' | translate }}</h3>
                    <img class="img-fluid tech-img" src="/assets/images/techs/laravel.png">
                </div>
                <div class="description text-center">
                    <p *ngFor="let index of [0, 1, 2]">{{ 'startups.avi.techs.backend.paragrahpDescriptions.' + index | translate }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="title text-center">
                    <h3>{{ 'startups.avi.techs.frontend.title' | translate }}</h3>
                    <img class="img-fluid tech-img" src="/assets/images/techs/angular.png">
                </div>
                <div class="description text-center">
                    <p *ngFor="let index of [0, 1, 2]">{{ 'startups.avi.techs.frontend.paragrahpDescriptions.' + index | translate }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="title text-center">
                    <h3>{{ 'startups.avi.techs.microservices.title' | translate }}</h3>
                    <img class="img-fluid tech-img" src="/assets/images/techs/serverless.png">
                </div>
                <div class="description text-center">
                    <p *ngFor="let index of [0, 1]">{{ 'startups.avi.techs.microservices.paragrahpDescriptions.' + index | translate }}</p>
                    <ul>
                        <li *ngFor="let index of [0, 1, 2, 3]"><i>{{ ('startups.avi.techs.microservices.list.' + index + '.title') | translate }}</i> - {{ ('startups.avi.techs.microservices.list.' + index + '.description') | translate }} </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="title text-center">
                    <h3>{{ 'startups.avi.techs.aws.title' | translate }}</h3>
                    <img class="img-fluid tech-img" src="/assets/images/techs/aws2.png">
                </div>
                <div class="description text-center">
                    <p *ngFor="let index of [0, 1]">{{ 'startups.avi.techs.aws.paragrahpDescriptions.' + index | translate }}</p>
                    <ul class="text-left">
                        <li><i>IoT Core & Analytics</i></li>
                        <li><i>Glue crawlers</i></li>
                        <li><i>Athena</i></li>
                        <li><i>Lambda functions</i></li>
                        <li><i>Elasticache (Memcached)</i></li>
                        <li><i>SNS & SQS</i></li>
                        <li><i>DynamoDB</i></li>
                        <li><i>EC2</i></li>
                        <li><i>RDS</i></li>
                        <li><i>S3</i></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div class="title">
                    <h2 class="text-center">{{ 'startups.avi.architecture.title' | translate }}</h2>
                </div>
                <p class="text-center">{{ 'startups.avi.architecture.description' | translate }}</p>
            </div>
            <div class="col-12">
                <img class="img-fluid" src="/assets/images/techs/avi_architecture.svg">
            </div>
        </div>


        <div class="row mt-xlg-5">
            <div class="col-12">
                <div class="title">
                    <p class="text-center">{{ 'startups.avi.moreInfo' | translate }} <a href="https://avienergy.mx" class="theme-color-text" target="_blank"> AVI ENERGY LABS</a></p>
                </div>
            </div>
        </div>
    </div>
</section>