.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-image: url('../../../assets/images/photo.jpg');
    background-size: cover;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float-icon {
    margin-top: 42px;
    margin-left: 42px;
    background-color: #25D366;
    border-radius: 50px;
}

.mobile-fab-tip {
    position: fixed;
    right: 105px;
    padding: 0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width: auto;
    display: none;
    bottom: 60px;
}

.float:hover .mobile-fab-tip {
    display: initial;
}