.header-main {
    width: 100%;
    height: calc(100vh - 55px);
    background-color: rgb(15, 15, 16);
    display: flex;
    justify-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.header-main pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
}

.typewriter {
    overflow: hidden;
    display: inline-block;
}

.typewriter pre {
    text-align: center;
    white-space: nowrap;
    border-right: .15em solid orange;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    margin-top: 35vh;
    font-size: 50px;
    text-transform: uppercase;
    overflow: unset;
    overflow-wrap: break-word;
    white-space: pre-line;
    line-height: 1em;
}

.theme-color {
    background-color: #22a6f2;
    color: rgb(58, 58, 58);
}

.pointer {
    cursor: pointer;
}

.intro {
    padding-top: 5rem;
    padding-bottom: 12rem;
    text-align: center;
}

.title {
    text-align: center;
}

.presentation .bio {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.skills .box,
.start-up .row {
    margin-top: -8rem;
}

.skills {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.box {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    color: #141c3a;
    display: block;
    padding: 1.25rem;
}

.skill-img {
    padding: 15%;
}

.skills .description>.title {
    text-align: center;
    width: 100%;
}

.skills .element-skill {
    margin-top: 25px;
}

.progress-bar {
    background-color: #0078b9;
}

.column {
    border-bottom: 0px solid #E6ECF8;
    border-right: 1px solid #E6ECF8;
}

.column:last-child {
    border-right: none;
    border-bottom: none;
}

.content .works,
.content .projects {
    padding-top: 5rem;
}

.works {
    padding-bottom: 3.5rem;
}

.btn-outline-theme {
    color: #22a6f2;
    border-color: #22a6f2;
    border-radius: 1000px;
    border-width: 3px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-weight: bold;
    font-size: large;
}

.btn-outline-theme:hover {
    color: white;
    border-color: #22a6f2;
    background-color: #22a6f2;
}

.call-to-action .box {
    background-color: #141c3a;
    color: white;
}

.btn-outline {
    border-radius: 1000px;
    border-width: 2px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.btn-white {
    color: whitesmoke;
    border-color: whitesmoke;
}

.call-to-action .btn-outline {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-weight: bold;
    font-size: large;
}

.call-to-action .box {
    box-shadow: none;
}

.call-to-action h2 {
    margin-top: 0.5rem;
}

.btn-white:hover,
.btn-white:active {
    color: rgb(58, 58, 58);
    background-color: white;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 14px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.social .btn {
    margin-left: 1.5rem;
}

.social .btn:nth-child(1) {
    margin-left: 0px;
}

.farewell {
    font-size: small;
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .column:nth-child(2) {
        border-right: none;
        border-bottom: none;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .column {
        border-right: none;
        border-bottom: none;
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}