/* You can add global styles to this file, and also import other style files */

@import 'assets/fonts/europanuova-cufonfonts-webfont/style.css';
body,
button,
input,
select,
nav,
a,
div,
textarea {
    font-family: 'EuropaNuova-Regular Regular', sans-serif !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

html,
body {
    height: 100%;
}

h3 {
    font-size: 1.75rem !important;
    font-weight: bolder;
}

h2 {
    font-size: 2rem !important;
}

.mat-dialog-container,
mat-dialog-container {
    background: #fff !important;
    color: #424242 !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(58, 58, 58);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.theme-color {
    background-color: #22a6f2;
    color: rgb(58, 58, 58);
}

.theme-color-text {
    color: #22a6f2;
}

.pointer {
    cursor: pointer;
}
